.carousel-container {
  width: 600px;
  height: 400px;
  overflow: hidden;
}

.carousel-wrapper {
  width: 1800px;
  height: 100%;
  position: relative;
  left: 0;
  transition: left 0.5s ease-in-out;
}

.carousel-wrapper img {
  width: 33.33%;
  height: 100%;
  float: left;
}